@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

:root {
  --primary-accent: #FF8A00;
  --secondary-color: #FFF6E4;
  --black: #2C2C2C;
  --gray: #9C9C9C;
  --white: #FFFFFF;
}

* {
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #FAFBFC;
  height: 200vh;
}

.navbar {
  padding: 10px 0;
  background-color: #FFFFFF;
  box-shadow: 0px 6px 10px rgba(129, 129, 129, 0.1);
}

.primary--button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  gap: 10px;
  height: 45px;
  min-width: 100px;
  border: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: var(--white);
  background: var(--primary-accent);
}

.secondary--button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  white-space: nowrap;
  gap: 10px;
  height: 45px;
  min-width: 100px;
  border: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: var(--primary-accent);
  background: var(--secondary-color);
}

.btn--icon {
  border: none;
  background-color: transparent;
}

.btn--wrapper {
  gap: 16px;
}

.circle--badge {
  width: 6px;
  height: 6px;
  background: var(--primary-accent);
  border-radius: 50%;
}

.nav-link.active {
  color: var(--primary-accent) !important;
  font-weight: 500;
  position: relative;
}

.nav-link.active::before {
  content: '';
  width: 60%;
  height: 2px;
  background-color: var(--primary-accent);
  border-radius: 20px;
  position: absolute;
  bottom: 6px;
  left: .5rem;
}

.nav-link {
  position: relative;
}


.nav-link::before {
  content: '';
  width: 0;
  height: 2px;
  background-color: var(--primary-accent);
  border-radius: 20px;
  position: absolute;
  bottom: 6px;
  left: .5rem;
  transition: all .3s ease-in-out;
}

.nav-link:hover::before {
  content: '';
  width: 60%;
  height: 2px;
  background-color: var(--primary-accent);
  border-radius: 20px;
  position: absolute;
  bottom: 6px;
  left: .5rem;
}

/* Carousel Banner */
.carousel-control-next i,
.carousel-control-prev i {
  font-size: 30px;
}

#carouselExampleCaptions {
  margin-top: 62px;
}

/* Category */
.title--wrapper {
  background-color: var(--primary-accent);
  color: var(--secondary-color);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 10px;
  gap: 10px;
  width: 177px;
  height: 44px;
}

.category--label {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 6px 10px;
  transition: all ease in .2s;
  background-color: var(--secondary-color);
  color: var(--primary-accent);
}

.card--category {
  background-color: var(--white);
  filter: drop-shadow(0px 4px 20px rgba(159, 159, 159, 0.1));
}

.card--category:hover .category--label {
  transition: all ease in .2s;
  color: var(--secondary-color);
  background-color: var(--primary-accent);
}

/* Product */
.tagline {
  font-weight: 500;
  font-size: 32px;
  line-height: 48px;
  color: var(--black);
}

.input--group {
  display: flex;
  flex-direction: row;
  align-items: center;
  filter: drop-shadow(0px 4px 20px rgba(104, 104, 104, 0.1));
}

.search--input {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 16px;
  width: 80%;
  gap: 10px;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 1;
  color: var(--gray);
  background-color: var(--white);
  border: none !important;
  outline: none !important;
}

.product--card {
  background-color: var(--white);
  filter: drop-shadow(0px 4px 20px rgba(104, 104, 104, 0.1));
  width: 100%;
  padding: 10px;
}

.title--category {
  display: block;
  font-weight: 300;
  font-size: 12px;
  line-height: 18px;
  color: var(--gray);
}

.title--brand {
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--black);
}

.title--description {
  display: block;
  font-weight: 300;
  font-size: 13px;
  line-height: 18px;
}

.sm-primary--button {
  padding: 4px 10px;
  border: none;
  color: var(--primary-accent);
  background-color: var(--secondary-color);
}

.image--wrapper {
  height: 200px;
  overflow: hidden;
}

@media screen and (max-width: 992px) {
  .nav-link:hover::before {
    width: 15%;
    left: 0;
  }

  .nav-link.active::before {
    width: 15%;
    left: 0;
  }
}